server:
  port: 8087
spring:
  application:
    name: posts
  datasource:
    url: jdbc:mysql://localhost:3306/nexo?createDatabaseIfNotExist=true
    username: root
    password: 09032004
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
  h2:
    console:
      enabled: false
  servlet:
    multipart:
      enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
feign:
  client:
    config:
      default:
        loggerLevel: FULL
  okhttp:
    enabled: true
  httpclient:
    enabled: false

