server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: insight_tool
          uri: lb://insight_tool
          predicates:
            - Path=/api/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
