server:
  port: 8095
spring:
  application:
    name: messaging
  datasource:
    url: jdbc:postgresql://localhost:5433/userdb
    driver-class-name: org.postgresql.Driver
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms
      connect-timeout: 2000ms
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/nexo-network
          jwk-set-uri: http://localhost:9090/realms/nexo-network/protocol/openid-connect/certs

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
grpc:
  server:
    port: 9098
  client:
    users:
      address: static://localhost:9092
      negotiation-type: plaintext
