server:
  port: 8084
spring:
  application:
    name: feeds
  datasource:
    url: jdbc:postgresql://localhost:5433/userdb
    driver-class-name: org.postgresql.Driver
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  h2:
    console:
      enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/nexo-network
          jwk-set-uri: http://localhost:9090/realms/nexo-network/protocol/openid-connect/certs
  data:
    redis:
      port: 6379
      host: localhost
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

grpc:
  client:
    posts:
      address: static://localhost:9094
      negotiation-type: plaintext
    users:
      address: static://localhost:9092
      negotiation-type: plaintext

