eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    wait-time-in-ms-for-sync: 1000
server:
  port: 8761

spring:
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
