server:
  port: 8083
spring:
  application:
    name: interaction
  datasource:
    url: jdbc:postgresql://localhost:5433/userdb?createDatabaseIfNotExist=true
    driver-class-name: org.postgresql.Driver
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  cache:
    type: redis
  h2:
    console:
      enabled: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 500MB
      max-request-size: 500MB
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/nexo-network
          jwk-set-uri: http://localhost:9090/realms/nexo-network/protocol/openid-connect/certs
  data:
    redis:
      port: 6379
      host: localhost
      password: Admin@123
  kafka:
    bootstrap-servers: localhost:9097
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 1
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
        spring.json.add.type.headers: false
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
feign:
  client:
    config:
      default:
        loggerLevel: FULL
  okhttp:
    enabled: true
  httpclient:
    enabled: false

grpc:
  server:
    port: 9095
  client:
    users:
      address: static://localhost:9092
      negotiation-type: plaintext
    posts:
      address: static://localhost:9094
      negotiation-type: plaintext
