server:
  port: 8088
logging:
  level:
    org.springframework.security: DEBUG
spring:
  application:
    name: notifications
  datasource:
    url: jdbc:postgresql://localhost:5433/userdb?createDatabaseIfNotExist=true
    driver-class-name: org.postgresql.Driver
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  h2:
    console:
      enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/nexo-network
          jwk-set-uri: http://localhost:9090/realms/nexo-network/protocol/openid-connect/certs
  data:
    redis:
      port: 6379
      host: localhost
  kafka:
    bootstrap-servers: localhost:9097
    consumer:
      group-id: notificationGroup
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.value.default.type: org.nexo.notificationservice.dto.MessageDTO
        spring.json.trusted-packages: org.nexo
      auto-offset-reset: earliest
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
feign:
  client:
    config:
      default:
        loggerLevel: FULL
  okhttp:
    enabled: true
  httpclient:
    enabled: false

grpc:
  server:
    port: 9096
  client:
    users:
      address: static://localhost:9092
      negotiation-type: plaintext

